<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
            <span class="topcoat-icon home-icon"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Notification</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>
</div>

<div class="pad" ng-controller="NotificationCtrl">
    <div class="centerize">
        <p><a class="topcoat-button--cta" ng-click="alertNotify()">Alert</a></p>
        <p><a class="topcoat-button--cta" ng-click="beepNotify()">Beep</a></p>
        <p><a class="topcoat-button--cta" ng-click="confirmNotify()">Confirm</a></p>
        <p><a class="topcoat-button--cta" ng-click="vibrateNotify()">Vibrate</a></p>
    </div>
</div>

<ng-include src="'partials/settingsOverlay.html'"></ng-include>